.header__subtitle {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 137%;
    color: #ffffff;
  }
  
  @media (max-width: 992px) {
    .header__subtitle {
      text-align: center;
      font-size: 26px;
    }
  }
  
  @media (max-width: 768px) {
    .header__subtitle {
      font-size: 22px;
      line-height: 32px;
    }
  }
  