.about {
  padding-top: 150px;
}

@media (max-width: 768px) {
  .about {
    padding-top: 50px;
  }
}

section {
  padding: 75px 0;
}

@media (max-width: 768px) {
  section {
    padding: 25px 0;
  }
}
