.follower {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid #1378ef;
  border-radius: 100%;
  pointer-events: none;
  user-select: none;
  z-index: 10;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
}

.follower.active {
  transform: scale(2);
  background: #1378ef;
  z-index: 0;
}

@media (max-width: 500px) {
  .follower {
    visibility: hidden;
    border: none;
  }
}
