.header__item {
  flex: 0 0 50%;
}

@media (max-width: 992px) {
  .header__item {
    flex: 0 0 100%;
  }

  .header__item:last-child {
    margin-top: 25px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  canvas {
    width: 250px;
    height: 250px;
  }
}
