.menu__list-item {
  margin-right: 50px;
  position: relative;
}

.menu__list-item:last-child {
  margin-right: 0px;
}

.menu__list-item::after{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: white;
  content: "";
}

.menu__list-item:hover::after {
  width: 100%;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) .3s all;
}
